body
{
    background-color: rgb(20, 20, 20);
    margin: 0 !important;
    font-family: 'Changa', sans-serif;
}

#logo
{
    text-align: center;
}

#logo img
{
    width: 40%;
    height: 40%;
}

#menu
{
    background-color: #cf2c2c;
    color: #fff;
    width: 100%;
}

ul
{
    padding: 0;
    list-style-type: none;
}

ul a
{
    text-decoration: none;
    color: #fff;
}

ul li
{
    text-align: center;
    float: left;
    width: 25%;
    height: 6vh;
    font-size: 3vh;
    transition: .5s all ease;
}

ul li:hover
{
    background-color: #fff;
    color: #cf2c2c;
}

#welcome
{
    font-size: 2vw;
    text-align: center;
    color: #fff;
    margin-top: 10vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgb(26, 26, 26);
}

/****************************************/

@media only screen and (max-width: 1000px)
{
    ul li
    {
        font-size: 2.5vw;
        height: 4vh;
    }
  
}

@media only screen and (max-width: 500px)
{

    ul li
    {
        font-size: 3vw;
        height: 3vh;
    }
  
}

@media only screen and (min-width: 1500px)
{

    #welcome
    {
        font-size: 1vw;
        text-align: center;
        color: #fff;
        margin-top: 6vw;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1vw;
        padding-bottom: 1vw;
        background-color: rgb(26, 26, 26);
    }
  
}